:root {
  --primary-color: #bcfd4c;
  /* --primary-color: #2cccc3; */
  /* --primary-color: #facd3d; */
  /* --primary-color: #5626c4; */
  /* --primary-color: #e60576; */
  /* --primary-color: #fdd935; */
  --scroll-color: #bcfd4c;
  --disable-color: #272727;
  --background-color: #000;
  --base-color: #0f0f0f;
  --text-color: #f7f7f7;
  --tag-color: #b9b7b7;
  --nav-width: 6rem;
  --nav-height: 4rem;
  --content-height: 100vh;
}

/* ------------- */
/*    COMMON     */
/* ------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--scroll-color);
  border-radius: none;
}

html,
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  color: var(--text-color);
  font-family: "Roboto";
  overflow: hidden;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

.hidden {
  display: none !important;
}

#sidenav {
  height: 100%;
  width: var(--nav-width);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
}

#navigation {
  display: flex;
  flex-direction: column;
  list-style: none;
  text-decoration: none;
}

.link {
  height: 4rem;
  width: 4rem;
  padding: 1.5rem;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--disable-color);
}

.link:hover {
  background-color: var(--primary-color);
}

.link-icon {
  color: var(--text-color);
  text-decoration: none;
  font-size: 1.5rem;
}

.link:hover > a > i {
  color: var(--background-color);
}

.background-primary {
  background-color: var(--primary-color);
}

.dark-icon {
  color: var(--background-color);
}

.mobile-show {
  display: none;
}

.main {
  height: var(--content-height);
  background-color: var(--background-color);
  width: 100%;
}

.home-main,
.about-main,
.portfolio-main,
.contact-main {
  width: 100%;
  padding-right: var(--nav-width);
  display: flex;
}

/* ------------- */
/*    HOME       */
/* ------------- */

.home-main {
  height: 100vh;
}
.profile-container {
  min-width: 50rem;
  width: 55rem;
  margin: auto;
}
.small {
  display: none;
}
.big {
  display: block;
  margin: auto;
}
.profile-container > img {
  border-radius: 2%;
  margin-left: 3rem;
}

.welcome-container {
  width: calc(100vw - 45rem);
  margin: auto;
}
.welcome-text-container {
  width: 29rem;
  margin: auto;
}

.text-primary {
  color: var(--primary-color);
}
.my-name {
  margin-left: 2rem;
}
.welcome-text {
  margin-top: 1.5rem;
}

.profile-links-container {
  width: 100%;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-links-container > a {
  margin-left: 2rem;
  margin-right: 2rem;
  font-size: 3rem;
  color: var(--primary-color);
}

.profile-links-container > a:hover {
  color: var(--text-color);
}

/* ------------- */
/*    ABOUT      */
/* ------------- */

.about-main {
  height: 100vh;
}

.experience-container {
  width: 60%;
  display: flex;
  justify-content: center;
  padding-left: 3rem;
  padding-right: 3rem;
  margin: auto;
}

.experiance {
  width: 50rem;
}

.info-card {
  display: flex;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.experience-icon {
  color: var(--text-color);
  font-size: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.info-text {
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.info-text > a {
  color: var(--tag-color);
}

.tags-container {
  display: flex;
  font-size: 1rem;
  flex-wrap: wrap;
}
.tags-container > p {
  color: var(--tag-color);
  margin-right: 1rem;
}

.experience-header-container {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.experience-header {
  display: flex;
}
.experience-header > h1 {
  margin-left: 1rem;
}

/* ------------- */
/*  Portfolio    */
/* ------------- */

.portfolio-main {
  height: 100vh;
}

.portfolio-header-container {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.portfolio-header {
  display: flex;
}
.portfolio-header > h1 {
  margin-left: 1rem;
}

.portfolio-container {
  width: 60%;
  display: flex;
  justify-content: center;
  padding-left: 3rem;
  padding-right: 3rem;
  margin: auto;
}

.portfolio {
  width: 50rem;
}

.portfolio-card {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.image-container {
  margin-right: 1rem;
}

.image-container > img {
  width: 10rem;
  height: 10rem;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 1rem;
}

.portfolio-content > h2 {
  margin-bottom: 1rem;
}

.portfolio-text {
  font-size: 1.5rem;
  /* margin-bottom: 1rem; */
}

.portfolio-text > a {
  color: var(--tag-color);
}
/* ------------- */
/*   CONTACT     */
/* ------------- */
.contact-main {
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact-info-container {
  display: flex;
  flex-direction: column;
}

.contact-info {
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.contact-info > i {
  margin-right: 1rem;
  font-size: 2rem;
}

/* ------------- */
/*    @MEDIA     */
/* ------------- */

/* 1500px  laptop och Ipad*/
@media (max-width: 94em) {
  /* --- HOME --- */
  .welcome-text-container > h1 {
    font-size: 2.1rem;
  }

  .welcome-text-container {
    width: unset;
  }
}

/* 1300px  laptop och Ipad*/
@media (max-width: 81em) {
  /* --- COMMON  --- */
  .main {
    overflow-y: scroll;
  }

  /* --- HOME --- */
  .home-main {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
  }
  .profile-container {
    min-width: unset;
    width: 25rem;
    height: 25rem;
    margin-bottom: auto;
  }
  .small {
    display: inline;
  }
  .big {
    display: none;
  }
  .profile-container > img {
    border-radius: 50%;
    margin-left: unset;
    width: 100%;
    height: 100%;
  }
  .welcome-container {
    padding-top: 5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 3rem;
  }
  .welcome-text-container {
    text-align: center;
    width: 30rem;
  }
  .my-name {
    margin-left: unset;
  }
}

/* 1024px */
@media (max-width: 64em) {
  /* --- HOME --- */
  .home-main {
    height: unset;
    padding-top: 2rem;
  }
  .welcome-container {
    margin-bottom: 1.5rem;
  }

  /* --- ABOUT --- */
  .experience-container {
    align-items: unset;
  }

  .experience-icon {
    font-size: 1.5rem;
  }

  .info-content > h2 {
    font-size: 1.5rem;
  }
  .info-text {
    font-size: 1rem;
  }

  /* --- Prortfolio --- */
  .image-container > img {
    width: 7rem;
    height: 7rem;
  }

  .portfolio-content > h2 {
    font-size: 1.5rem;
  }

  .portfolio-text {
    font-size: 1rem;
  }
  /* --- Contact --- */
  .contact-main {
    height: unset;
    position: absolute;
    top: 40%;
  }
}

/* 992px */
@media (max-width: 62em) {
  /* --- COMMON --- */
  .main {
    overflow-y: scroll;
    height: calc(var(--content-height) - var(--nav-height));
  }

  .home-main,
  .about-main,
  .portfolio-main {
    padding-right: unset;
    padding-top: 5rem;
  }

  #sidenav {
    height: var(--nav-height);
    width: 100%;
    left: 0;
    top: unset;
    background-color: var(--base-color);
  }

  #navigation {
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .menu-list > li {
    height: 2rem;
    width: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: unset;
    margin-top: unset;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
  }

  /* --- HOME --- */
  .home-main {
    padding-top: unset;
  }

  .profile-container {
    margin-top: 3rem;
    width: 20rem;
    height: 20rem;
  }

  /* --- ABOUT --- */
  .about-main {
    height: unset;
    flex-direction: column-reverse;
    align-items: flex-start;
  }

  .experience-container {
    width: 100%;
    align-items: flex-start;
    overflow-y: unset;
    margin: unset;
  }

  .experience-header-container {
    width: 100%;
    height: 15%;
  }

  /* --- Portfolio --- */
  .portfolio-main {
    height: unset;
    flex-direction: column;
    align-items: flex-start;
  }

  .portfolio-header-container {
    width: 100%;
  }

  .portfolio-container {
    width: 100%;
    align-items: flex-start;
    overflow-y: unset;
    margin: auto;
  }
  .portfolio {
    width: 100%;
  }

  .image-container {
    margin-bottom: 1rem;
  }

  /* --- Contact --- */
  .contact-main {
    padding-right: unset;
  }
}

/* 768px */
@media (max-width: 48em) {
  /* -- About --- */
  .about-main {
    padding-top: 1.5rem;
  }

  /* -- Portfolio --- */
  .portfolio-main {
    padding-top: 1.5rem;
  }
}

/* 500px   */
@media (max-width: 31em) {
  /* --- HOME --- */
  .home-main {
    padding-top: 5rem;
    justify-content: flex-start;
  }
  .profile-container {
    width: 15rem;
    height: 15rem;
    margin-top: unset;
  }
  .welcome-container {
    height: calc(100vw - 10rem);
    padding: 1rem;
  }
  .welcome-text-container > h1 {
    font-size: 1.7rem;
  }
  .welcome-text {
    font-size: 1rem;
  }

  .profile-links-container > a {
    font-size: 2rem;
  }

  /* --- ABOUT --- */
  .experience-container {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .experience-header > h1 {
    font-size: 2rem;
  }

  .experience-icon {
    margin-bottom: 1rem;
    margin-left: unset;
    margin-right: unset;
  }

  .info-card {
    flex-direction: column;
  }

  .tags-container {
    flex-wrap: wrap;
  }
  .tags-container > p {
    font-size: 0.8rem;
  }

  /* --- PORTFOLIO --- */
  .portfolio-container {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .portfolio-header > h1 {
    font-size: 2rem;
  }

  .portfolio-card {
    flex-direction: column;
  }

  .portfolio-content {
    width: 100%;
  }

  /* --- Contact --- */
  .contact-main > h1 {
    font-size: 2rem;
  }

  .contact-info > h2 {
    font-size: 1.5rem;
  }
  .contact-info > i {
    font-size: 1.5rem;
  }
}
/* 360px  samsung galaxy S8 */
/* @media (max-width: 22.5em) {
  
} */
